.background {

    background-color: blueviolet;
}

.title {

    color: fuchsia;
}
.underTitle {
    color: aqua;
    text-decoration: underline;
    border: thin solid red;
    width: 50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}
.item {
    color: aqua;
}